<html>
  <body>
    <form method="POST" action="/comments/<%=postId%>">
      <label >Add Comment </label>
      <input name="comment" type='textarea' />
      <button type='submit'>Comment</button>
    </form>
  </body>
<html>
