<html style="height:100%;">
  <body style="height:100%; display:flex; align-items:center; justify-content:center; background-color:black; color:white; font-family:sans-serif;">
    <form method="POST" action="/posts" style="padding:2rem; border:2px solid white; border-radius:1rem; display:grid; gap:1rem; width:300px;">
      <div style="display:grid; gap:0.3rem;">
        <label for="title">Title:</label>
        <input required type='text' name='title' id='title' style="padding:0.5rem; border-radius:0.5rem; border:1px solid #ccc;" />
      </div>

      <div style="display:grid; gap:0.3rem;">
        <label for="content">Content:</label>
        <input required type='text' name='content' id='content' style="padding:0.5rem; border-radius:0.5rem; border:1px solid #ccc;" />
      </div>

      <button type='submit' style="padding:0.5rem; background-color:#222; color:white; border:1px solid white; border-radius:0.5rem; cursor:pointer;">Create</button>
    </form>
  </body>
</html>

