<html>
  <body>
    <form method='POST' action='/post/new'>
      <div>
        <label>Title:</label>
        <input required type='text' name='title'/>
      </div>
      <div>
        <label>Content:</label>
        <input required type='text' name='content'/>
      </div>
      <button type='submit'>Create</button>
    </form>
  </body>
</html>
