<!DOCTYPE html>
<html>
  <head><title>Error</title></head>
  <body>
    <h1>Internal Server Error</h1>
    <p><%= message %></p>
    <% if (stack) { %>
      <pre><%= stack %></pre>
    <% } %>
  </body>
</html>
