<html>
  <body style='height:100%;display:flex;align-items:center;justify-content:center;background-color:black;color:white;'>
  <form action="/login" method="POST" style='padding:3rem;border:2px solid white; border-radius:1rem;display:grid;gap:2rem;'>
    <div style='display:grid'>
      <label for="email">email</label>
      <input required id="email" name="email" placeholder="email" type="text" />
    </div>
    <div style='display:grid'>
      <label for="password">Password</label>
      <input required id="password" name="password" type="password" />
    </div>
    <% if (message) { %>
      <p style="color: red;"><%= message %></p>
    <% } %>
    <button type="submit">Log In</button>
  </form>
</body>
</html>
