<html>
<body>
  <form action="/login" method="POST">
    <label for="email">email</label>
    <input required id="email" name="email" placeholder="email" type="text" />
    <label for="password">Password</label>
    <input required id="password" name="password" type="password" />
    <button type="submit">Log In</button>
  </form>
  <% if (message) { %>
    <p style="color: red;"><%= message %></p>
  <% } %>
</body>
</html>
