<html>
  <body>
    <form method="POST" action="/membership">
      <p>Solve below Question to get the membership-code</p>
      <p>Are you smart?</p>

      <label>
        <input type="radio" name="smartness" value="yes" required> Yes
      </label>
      <label>
        <input type="radio" name="smartness" value="no"> No
      </label>

      <button type="submit">Get Membership</button>
    </form>
  </body>
</html>

